<footer>
|     <div class="menu-line">
|         <div class="container">
|             <div class="row">
|                 <div class="col-md-7">
|                     <div class="menus">
|                         <div class="menu">
|                             <div class="title">Каталог</div>
|                             <ul>
|                                 <li><a href="#">Матрацы</a></li>
|                                 <li><a href="#">Матрацы</a></li>
|                                 <li><a href="#">Матрацы</a></li>
|                                 <li><a href="#">Матрацы</a></li>
|                                 <li><a href="#">Матрацы</a></li>
|                                 <li><a href="#">Матрацы</a></li>
|                                 <li><a href="#">Матрацы</a></li>
|                                 <li><a href="#">Матрацы</a></li>
|                             </ul>
|                         </div>
|                         <div class="menu">
|                             <div class="title">Покупателям</div>
|                             <ul>
|                                 <li><a href="#">Матрацы</a></li>
|                                 <li><a href="#">Матрацы</a></li>
|                                 <li><a href="#">Матрацы</a></li>
|                                 <li><a href="#">Матрацы</a></li>
|                                 <li><a href="#">Матрацы</a></li>
|                                 <li><a href="#">Матрацы</a></li>
|                             </ul>
|                         </div>
|                         <div class="menu">
|                             <div class="title">Партнерам</div>
|                             <ul>
|                                 <li><a href="#">Матрацы</a></li>
|                                 <li><a href="#">Матрацы</a></li>
|                                 <li><a href="#">Матрацы</a></li>
|                                 <li><a href="#">Матрацы</a></li>
|                                 <li><a href="#">Матрацы</a></li>
|                                 <li><a href="#">Матрацы</a></li>
|                                 <li><a href="#">Матрацы</a></li>
|                             </ul>
|                         </div>
|                     </div>
|                 </div>
|                 <div class="col-md-5">
|                     <div class="contact-block">
|                         <div class="block">
|                             <div class="title">Контакты</div>
|                             <div class="phone">
|                                 <a href="#" class="tel">8 (800) 775-17-14</a>
|                                 <p>Горячая линия (бесплатно) <a href="#">Заказать звонок</a></p>
|                             </div>
|                             <div class="phone">
|                                 <a href="#" class="tel">8 (499) 685-00-57</a>
|                                 <p>Горячая линия (бесплатно)</p>
|                             </div>
|                         </div>
|                         <div class="block">
|                             <div class="title soc">Социальные сети</div>
|                             <ul>
|                                 <li><a href="#"><img src="static/img/general/social-1.jpg" alt=""></a></li>
|                                 <li><a href="#"><img src="static/img/general/social-2.jpg" alt=""></a></li>
|                                 <li><a href="#"><img src="static/img/general/social-3.jpg" alt=""></a></li>
|                                 <li><a href="#"><img src="static/img/general/social-4.jpg" alt=""></a></li>
|                                 <li><a href="#"><img src="static/img/general/social-5.jpg" alt=""></a></li>
|                                 <li><a href="#"><img src="static/img/general/social-6.jpg" alt=""></a></li>
|                                 <li><a href="#"><img src="static/img/general/social-7.jpg" alt=""></a></li>
|                             </ul>
|                         </div>
|                     </div>
|                 </div>
|             </div>
|         </div>
|     </div>
|     <div class="bottom-line">
|         <div class="container">
|             <div class="row">
|                 <div class="col-md-6 col-xs-12">
|                     <div class="logo"><a href="#"><img src="static/img/general/logo-footer.png" alt=""></a></div>
|                     <div class="copyright">
|                         <p>© 2009-2017 Международная торговая компания «LONAX» </p>
|                         <p>Официальный сайт компании.</p>
|                         <p>Матрасы и аксессуары для сна. </p>
|                         <p>Все права защищены</p>
|                     </div>
|                 </div>
|                 <div class="col-md-3 col-sm-6 col-xs-12">
|                     <div class="block">
|                         <div class="title">Мы принимаем</div>
|                         <div class="pay-list">
|                             <img src="static/img/general/i-pay.png" alt="">
|                         </div>
|                     </div>
|                 </div>
|                 <div class="col-md-3 col-sm-6 col-xs-12">
|                     <div class="block">
|                         <div class="title">Вход в личный кабинет дилера</div>
|                         <ul>
|                             <li><a href="#">Войти</a></li>
|                             <li><a href="#">Регистрация</a></li>
|                         </ul>
|                     </div>
|                 </div>
|             </div>
|         </div>
|     </div>
| </footer>