.lk-sidebar
    .lk-sidebar__logo
        a(href='#')
            img(src='static/img/general/logo.png')
    .lk-sidebar__avatar
        img(src='static/img/general/avatar.png')
    .lk-sidebar__name
        span ООО "Матрас Интер Рус"
    .lk-sidebar__logout
        a(href='#')
            img(src='static/img/general/logout.png')
    .lk-sidebar__contacts.contacts
        .contacts__list
            .contacts__item.contact__item_manager
                .contacts__name
                    span Персональный менеждер
                .contacts__value
                    a(href='#') Капустина Юлия Сергеевна
            .contacts__item
                .contacts__name
                    span Рабочий телефон
                .contacts__value
                    a(href='#') +7 (499) 685-00-57 доб. 309
            .contacts__item
                .contacts__name
                    span Моб. телефон
                .contacts__value
                    a(href='#') +7 (499) 685-00-57 доб. 309
    .lk-sidebar__btn
        a.button Новый заказ
    .lk-sidebar__links.links
        .links__list
            .links__item.links__item_active
                a(href='#') Мои заказы
            .links__item
                a(href='#') Рекламации
            .links__item
                a(href='#') Руководитель
            .links__item.links__item_download
                a(href='#') Скачать прайс

if dealers_sidebar === '1'
    .lk-dealers
        .lk-dealers__heading
            span Процентная ставка дилера
        .lk-dealers__list
            .lk-dealers__item
                .lk-dealers__name
                    span По сериям
                .lk-dealers__value
                    span 30%
            .lk-dealers__item
                .lk-dealers__name
                    span Серия классик
                .lk-dealers__value
                    span 30%
            .lk-dealers__item
                .lk-dealers__name
                    span Серия ассорти
                .lk-dealers__value
                    span 30%
            .lk-dealers__item
                .lk-dealers__name
                    span Серия двухсторонние
                .lk-dealers__value
                    span 30%
            .lk-dealers__item
                .lk-dealers__name
                    span Серия лайт
                .lk-dealers__value
                    span 30%
            .lk-dealers__item
                .lk-dealers__name
                    span Серия Премиум
                .lk-dealers__value
                    span 30%
            .lk-dealers__item
                .lk-dealers__name
                    span Серия беспружинные
                .lk-dealers__value
                    span 30%
            .lk-dealers__item
                .lk-dealers__name
                    span Серия круглые
                .lk-dealers__value
                    span 30%
            .lk-dealers__item
                .lk-dealers__name
                    span Серия скрученные
                .lk-dealers__value
                    span 30%
            .lk-dealers__item
                .lk-dealers__name
                    span Остальные товары
                .lk-dealers__value
                    span 30%
        .lk-dealers__btn
            a.button(href='#')
                span Скачать договор
                i

