.lk-sidebar
    .lk-sidebar__logo
        a(href='#')
            img(src='/static/img/general/logo.png')
    .lk-sidebar__avatar
        img(src='/static/img/general/avatar.png')
    .lk-sidebar__name
        span ООО "Матрас Интер Рус"
    .lk-sidebar__logout
        a(href='#')
            img(src='/static/img/general/logout.png')
    .lk-sidebar__contacts.contacts
        .contacts__list
            .contact__item
                .contact__name
                    span Персональный менеждер
                .contact__value
                    a(href='#') Капустина Юлия Александровна
            .contact__item
                .contact__name
                    span Рабочий телефон
                .contact__value
                    a(href='#') +7 (499) 685-00-57 доб. 309
            .contact__item
                .contact__name
                    span Моб. телефон
                .contact__value
                    a(href='#') +7 (499) 685-00-57 доб. 309
    .lk-sidebar__btn
        a.button Новый заказ
    .lk-sidebar__links.links
        .links__list
            .links__item.links__item_active
                a(href='#') Мои заказы
            .links__item
                a(href='#') Рекламации
            .links__item
                a(href='#') Руководитель
            .links__item.links__item_download
                a(href='#') Скачать прайс

