footer
  flex 0 0 auto
  font-family: 'Akrobat', sans-serif
  min-width: 1280px;

footer .menu-line {
  background: #03a7df;
  padding: 78px 0 76px;
}

footer .menu-line .menus .menu {
  display: inline-block;
  vertical-align: top;
  margin-right: 75px;
  width: 160px;
}

footer .menu-line .menus .menu .title {
  color: #FFF;
  text-transform:  uppercase;
  font-weight: 800;
  font-size:  20px;
  line-height:  1;
  margin: 0 0 25px;
}

footer .menu-line .menus .menu ul li {
  margin: 0 0 20px;
}

footer .menu-line .menus .menu ul li a {
  color: #FFF;
  font-size:  16px;
  line-height:  1;
}

footer .menu-line .contact-block .block {
  margin: 0 0 40px;
}

footer .menu-line .contact-block .block .title {
  color: #FFF;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 20px;
  line-height: 1;
  margin: 0 0 25px;
}

footer .menu-line .contact-block .block .phone {
  display:  inline-block;
  vertical-align:  top;
  margin-right: 40px;
  color: #FFF;
  font-weight: 500;
}

footer .menu-line .contact-block .block .phone a.tel {
  font-size: 28px;
  color: #FFF;
  display:  block;
  font-weight: 600;
  margin: 0 0 10px;
}

footer .menu-line .contact-block .block .phone p {
  font-size: 16px;
}

footer .menu-line .contact-block .block .phone p a {
  display: block;
  color: #FFF;
  text-decoration:  underline;
}

footer .menu-line .contact-block .block:last-child {
  margin:  0;
}

footer .menu-line .contact-block .block ul {
  display:  inline-block;
  width: 100%;
}

footer .menu-line .contact-block .block ul li {
  float:  left;
  margin-right: 8px;
}

footer .menu-line .contact-block .block ul li a img {
  vertical-align:  top;
}

footer .menu-line .contact-block .block ul li a:hover {
  opacity: .8;
}

footer .bottom-line {
  background: #006c91;
  padding: 52px 0;
  color: #FFF;
}

footer .bottom-line .logo {
  display:  inline-block;
  vertical-align:  middle;
}

footer .bottom-line .copyright {
  display:  inline-block;
  vertical-align:  middle;
  margin-left: 60px;
}

footer .bottom-line .block .title {
  color: #FFF;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 20px;
  line-height: 1;
  margin: 0 0 22px;
}

footer .bottom-line .block ul li {
  display:  inline-block;
  vertical-align: top;
  margin-right: 30px;
  background:  url('../img/general/i-touchid.png') no-repeat left top;
  line-height:  32px;
  padding-left: 46px;
  font-size: 16px;
}

footer .bottom-line .block ul li a {
  color: #FFF;
  font-weight: 600;
  border-bottom: 1px solid rgba(255, 255, 255, 0.75);
  transition: .3s all;
}

footer .bottom-line .block ul li:last-child {
  background: url('../img/general/i-registration.png') no-repeat left top;
}

footer .bottom-line .block ul li a:hover {
  border-color: transparent;
}