extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'

block content
	a(href='auth.html') Страница авторизации
	br
	a(href='second.html') Вторая страница