extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'

block content
	a(href='auth.html') Страница авторизации
	br
	a(href='lk.html') Вторая страница
	br
	a(href='lk_graph.html') Вторая страница (графики включены)
	br
	a(href='new_order.html') Третья страница