extends ../layout/main

block variables
    - var title = 'Личный кабинет'
    - var pageClass = 'lk'

block content

    .lk__message.message
        .message__icon
        .message__content
            .message__heading
                span Сообщение
            .message__text
                p Сегодня в нашу Систему Электроного Заказа была добавлена Мебель и внесены некоторые изменение в работу формы заказа.
                p Теперь, если Вы выбрали одну позицию и указали в графе кол-во несколько штук, а, затем хотите задать спец. цену этой позиции, нужно указать цену за сумму данных позиций. А так-же при заполнении полей: дом, корпус, строение, владение, квартира и подъезд - указывать только значения, без вспомогательных обозначений.
    .lk__sum-date
        .lk__sum.sum
            .sum__heading
                span Общая сумма заказов
            .sum__value
                span 177 500 Р
            .sum__date
                span За ноябрь 2018

        .lk__date.date
            .date__date
                span 8 Ноября 2018
            .date__time
                span 21:40:55
            .date__day
                span Пятница

    .lk__select-period.select-period
        .select-period__presets-date.presets-date
            .select-period__presets.presets
                .presets__list
                    .presets__item
                        label.radio
                            input(type='radio' name="period")
                            span Сегодня
                    .presets__item
                        label.radio
                            input(type='radio' name="period")
                            span Вчера
                    .presets__item
                        label.radio
                            input(type='radio' name="period" checked)
                            span Неделя
                    .presets__item
                        label.radio
                            input(type='radio' name="period")
                            span Месяц
                    .presets__item
                        label.radio
                            input(type='radio' name="period")
                            span Квартал
                    .presets__item
                        label.radio
                            input(type='radio' name="period")
                            span Год
            .select-period__date sss
        .select-period__refresh.refresh
            a(href='#').button
                i
                span Обновить
    .lk__stat.stat
        .stat__heading-toggler
            .stat__heading
                span Статистика по статусам заказов
            .stat__toggler.toggler
                .toggler__list
                    .toggler__item
                        label.radio.radio_diag
                            input(type='radio' name="diag-graph" checked)
                            span
                                i
                    .toggler__item
                        label.radio.radio_graph
                            input(type='radio' name="diag-graph")
                            span
                                i
        .stat__table-graph
            .stat__table.table
                .table__th
                    .table__label
                        span Статусы:
                    .table__label
                        span Сумма заказов:
                .table__tr
                    .table__status.status
                        .status__wrap
                            .status__color.status__color_green
                            .status__name
                                span Выполнено
                    .table__sum.sum
                        .sum__wrap
                            .sum__value
                                span 132 890 Р
                            .sum__percentage
                                span 40%
                .table__tr
                    .table__status.status
                        .status__wrap
                            .status__color.status__color_blue
                            .status__name
                                span В обработке
                    .table__sum.sum
                        .sum__wrap
                            .sum__value
                                span 132 890 Р
                            .sum__percentage
                                span 40%
                .table__tr
                    .table__status.status
                        .status__wrap
                            .status__color.status__color_orange
                            .status__name
                                span В работе
                    .table__sum.sum
                        .sum__wrap
                            .sum__value
                                span 132 890 Р
                            .sum__percentage
                                span 40%
                .table__tr
                    .table__status.status
                        .status__wrap
                            .status__color.status__color_violet
                            .status__name
                                span Отгружено
                    .table__sum.sum
                        .sum__wrap
                            .sum__value
                                span 132 890 Р
                            .sum__percentage
                                span 40%
                .table__tr
                    .table__status.status
                        .status__wrap
                            .status__color.status__color_red
                            .status__name
                                span Отказ
                    .table__sum.sum
                        .sum__wrap
                            .sum__value
                                span 132 890 Р
                            .sum__percentage
                                span 40%
                .table__tr
                    .table__status.status
                        .status__wrap
                            .status__color.status__color_gray
                            .status__name
                                span Рекламация
                    .table__sum.sum
                        .sum__wrap
                            .sum__value
                                span 132 890 Р
                            .sum__percentage
                                span 40%
            .stat__data.data
                .data__diag
                    img(src='/static/img/content/diag.png')
                .data__graph
                    img(src='/static/img/content/graph.png')
    .lk__orders.orders
        .orders__top
            .orders__filter.filter
                .filter__list
                    .filter__item
                        label.radio
                            input(type='radio' name="filter")
                            span Выполнено
                    .filter__item
                        label.radio
                            input(type='radio' name="filter")
                            span В обработке
                    .filter__item
                        label.radio
                            input(type='radio' name="filter" checked)
                            span В работе
                    .filter__item
                        label.radio
                            input(type='radio' name="filter")
                            span Отгружено
                    .filter__item
                        label.radio
                            input(type='radio' name="filter")
                            span Отказ
                    .filter__item
                        label.radio
                            input(type='radio' name="filter")
                            span Рекламация

            .orders__per-page
                select.js-select(name='per-page')
                    option(value='На странице:') На странице:
                    option(value='10') 10
                    option(value='20') 20
        .orders__table.table
            .table__th
                .table__label
                    i.details
                .table__label
                    span ID#[br]заказа
                .table__label
                    span Дата#[br]заказа
                .table__label
                    span Входящий#[br]номер
                .table__label.table__label_center
                    span ФИО заказа
                .table__label.table__label_address
                    span Адрес
                .table__label.table__label_center
                    span Сумма#[br]заказа
                .table__label.table__label_center
                    span Статус заказа
                .table__label
                    i.delete
            .table__tr
                .table__td
                    a(href='#')
                        i.details
                .table__td
                    span 1702
                .table__td
                    span 30.10.2018
                .table__td.table__td_center
                    span 1122
                .table__td.table__td_center
                    span Иванов Иван
                .table__td
                    span г Москва, Волгоградский пр-кт, д 2
                .table__td.table__td_center
                    span 3959.00
                .table__td.table__td_center
                    span.table__status.table__status_green Принят
                .table__td
                    a(href='#')
                        i.delete
            .table__tr
                .table__td
                    a(href='#')
                        i.details
                .table__td
                    span 1702
                .table__td
                    span 30.10.2018
                .table__td.table__td_center
                    span 1122
                .table__td.table__td_center
                    span Иванов Иван
                .table__td
                    span г Москва, Волгоградский пр-кт, д 2
                .table__td.table__td_center
                    span 3959.00
                .table__td.table__td_center
                    span.table__status.table__status_red Завершён
                .table__td
                    a(href='#')
                        i.delete
            .table__tr
                .table__td
                    a(href='#')
                        i.details
                .table__td
                    span 1702
                .table__td
                    span 30.10.2018
                .table__td.table__td_center
                    span 1122
                .table__td.table__td_center
                    span Иванов Иван
                .table__td
                    span г Москва, Волгоградский пр-кт, д 2
                .table__td.table__td_center
                    span 3959.00
                .table__td.table__td_center
                    span.table__status.table__status_blue Отказ
                .table__td
                    a(href='#')
                        i.delete
            .table__tr
                .table__td
                    a(href='#')
                        i.details
                .table__td
                    span 1702
                .table__td
                    span 30.10.2018
                .table__td.table__td_center
                    span 1122
                .table__td.table__td_center
                    span Иванов Иван
                .table__td
                    span г Москва, Волгоградский пр-кт, д 2
                .table__td.table__td_center
                    span 3959.00
                .table__td.table__td_center
                    span.table__status.table__status_green Принят
                .table__td
                    a(href='#')
                        i.delete
            .table__tr
                .table__td
                    a(href='#')
                        i.details
                .table__td
                    span 1702
                .table__td
                    span 30.10.2018
                .table__td.table__td_center
                    span 1122
                .table__td.table__td_center
                    span Иванов Иван
                .table__td
                    span г Москва, Волгоградский пр-кт, д 2
                .table__td.table__td_center
                    span 3959.00
                .table__td.table__td_center
                    span.table__status.table__status_red Завершён
                .table__td
                    a(href='#')
                        i.delete
            .table__tr
                .table__td
                    a(href='#')
                        i.details
                .table__td
                    span 1702
                .table__td
                    span 30.10.2018
                .table__td.table__td_center
                    span 1122
                .table__td.table__td_center
                    span Иванов Иван
                .table__td
                    span г Москва, Волгоградский пр-кт, д 2
                .table__td.table__td_center
                    span 3959.00
                .table__td.table__td_center
                    span.table__status.table__status_blue Отказ
                .table__td.table__td_center
                    a(href='#')
                        i.delete











