extends ../layout/main

block variables
    - var title = 'Новый заказ'
    - var pageClass = 'new-order'

block content
    .new-order__timers.timers
        .timers__list
            .timers__item.timer.timers__item_red
                .timer__text
                    span До окончания возможности сделать заказ на сегодня осталось:
                .timer__time
                    span 05:40:37

            .timers__item.timer.timers__item_blue
                .timer__text
                    span До окончания возможности сделать заказ на завтра на утро осталось:
                .timer__time
                    span 24:40:37

            .timers__item.timer.timers__item_green
                .timer__text
                    .timer__date
                        span 8 Ноября 2018
                    .timer__day
                        span Пятница
                .timer__time
                    span 14:40:37
    .new-order__form.form
        .form__heading
            span Новый заказ
        .form__row
            .form__item.item
                .item__label
                    span Категория товара
                .item__input
                    select.js-select(name='cat')
                        option(value='Матрацы') Матрацы
                        option(value='Матрацы') Матрацы
            .form__item.item
                .item__label
                    span Подкатегория товара
                .item__input
                    select.js-select(name='subcat')
                        option(value='Серия эконом') Серия эконом
                        option(value='Серия Премиум') Серия Премиум
            .form__item.item
                .item__label
                    span Товар #[a(href='#') ссылка на товар]
                .item__input.item__input_wide
                    select.js-select(name='product')
                        option(value='Матрас Vegas Smart ') Матрас Vegas Smart
                        option(value='Матрас Vegas Smart ') Матрас Vegas Smart
            .form__item.item
                .item__label
                    span Размер
                .item__input.item__input_small
                    select.js-select(name='size')
                        option(value='120x95') 120x95
                        option(value='130x105') 130x105
            .form__item.form__item_checkbox
                label.checkbox(for='unstandart')
                    input(type='checkbox' id='unstandart' checked)
                    span Нестандартный #[br] размер
        .form__row.form__row_digits
            .form__item.item
                .item__label
                    span Количество
                .item__input.item__input_quantity
                    input(type='text' value='7')
            .form__item.item
                .item__label
                    span Ширина
                .item__input.item__input_width
                    input(type='text' value='27')
            .form__item.item
                .item__label
                    span Длина
                .item__input.item__input_length
                    input(type='text' value='230')
            .form__item.item
                .item__label
                    span Диаметр
                .item__input.item__input_diameter
                    input(type='text' value='331')
            .form__item.item
                .item__label
                    span Цена диллера
                .item__input.item__input_red
                    input(type='text' value='23 700 Р')
            .form__item.item
                .item__label
                    span Сумма диллера
                .item__input.item__input_red
                    input(type='text' value='22 700 Р')
            .form__item.item
                .item__label
                    span Цена розн.
                .item__input.item__input_red
                    input(type='text' value='13 700 Р')
            .form__item.item
                .item__label
                    span Сумма розн.
                .item__input.item__input_red
                    input(type='text' value='54 700 Р')
            .form__item.item
                .item__label
                    span Доход дилера.
                .item__input.item__input_red
                    input(type='text' value='32 700 Р')
        .form__btns
            a.button.button_blue(href='#') Копировать
            a.button.button_gray Удалить
    .new-order__add.add
        .add__btn
            a(href='#').button Добавить товар
        .add__fields-address
            .add__fields.fields
                .fields__list
                    .fields__item
                        .fields__label
                            span Склад отгрузки
                        .fields__input
                            select.js-select(name='stock')
                                option(value='Не выбран') Не выбран
                    .fields__item
                        .fields__label
                            span Входящий номер
                        .fields__input
                            input(value='Не выбран')
                    .fields__item
                        .fields__label
                            span ФИО заказчика
                        .fields__input
                            input(value='Не выбран')
                    .fields__item
                        .fields__label
                            span Телефон 1
                        .fields__input
                            input(value='Не выбран')
                    .fields__item
                        .fields__label
                            span Телефон 2
                        .fields__input
                            input(value='Не выбран')
                    .fields__item
                        .fields__label
                            span Доставка #[br] Выберите дату доставки
                        .fields__input
                            input(value='Не выбран')
                .fields__res Общее кол-во км за мкад, кад, черту города: #[span 0 км] #[br] Количество бесплатных км: #[span 0 км] #[br] Количество отплачиваемых км: #[span 0 км] #[br]  Стоимость отплачиваемых км: #[span 0 км] #[br]  Стоимость подъема на этаж: #[span 0] #[br]  Стоимость доставки: #[span 0] #[br] Итого за доставку: #[span.red 2 900 Р] #[br]
            .add__address-map.address-map
                .address
                    .address__heading
                        span Адрес заказчика
                    .address__row
                        .address__fields.fields
                            .fields__item
                                .fields__label
                                    span Ввести новый адрес
                                .fields__input
                                    input(type='text' value='Москва')
                    .address__row.address__row_line
                        .address__fields.fields
                            .fields__item
                                .fields__label
                                    span Подъезд
                                .fields__input
                                    input(type='text' value='5')
                            .fields__item
                                .fields__label
                                    span Этаж
                                .fields__input
                                    input(type='text' value='27')
                            .fields__item
                                .fields__label
                                    span Домофон
                                .fields__input
                                    input(type='text' value='245')
                            .fields__item
                                .fields__label
                                    span Квартира
                                .fields__input
                                    input(type='text' value='273')
                    .address__lift
                        label.checkbox(for='lift')
                            input(type='radio' id='lift' name='lift' checked)
                            span Есть лифт
                        label.checkbox(for='no-lift')
                            input(type='radio' id='no-lift' name='lift')
                            span Платный подъём
                .map
                    img(src='static/img/content/map.jpg' alt='Map')
        .add__delivery.delivery
            .delivery__type
                label.checkbox(for='delivery-company-1')
                    input(type='radio' id='delivery-company-1' name='delivery-company' checked)
                    span Lonax
                label.checkbox(for='delivery-company-2')
                    input(type='radio' id='delivery-company-2' name='delivery-company')
                    span Самовывоз
                label.checkbox(for='delivery-company-3')
                    input(type='radio' id='delivery-company-3' name='delivery-company')
                    span Через ТК
            .delivery__params
                .delivery__param.param.param_type
                    .param__label
                        span Тип доставки
                    .param__input
                        select.js-select(name='delivery-type')
                            option(value='Утренняя') Утренняя
                            option(value='Вечерняя') Вечерняя
                .delivery__param.param.param_time
                    .param__label
                        span Время доставки
                    .param__input
                        input(type='text' value='18:00')
                .delivery__param.param.param_payer
                    .param__label
                        span Возмещение расходов при доставке
                    .param__input
                        select.js-select(name='delivery-payer')
                            option(value='Оплачивает клиент') Оплачивает клиент
                            option(value='Оплачивает не клиент') Оплачивает не клиент
                .delivery__param.param.param_wide
                    .param__label
                        span Комментарий к заказу
                    .param__input
                        textarea
        .add__payment.payment
            .payment__label
                span Тип оплаты
            .payment__type
                label.checkbox(for='payment-type-1')
                    input(type='radio' id='payment-type-1' name='payment-type' checked)
                    span Наличными
                label.checkbox(for='payment-type-2')
                    input(type='radio' id='payment-type-2' name='payment-type')
                    span Картой
        .add__services.services
            .services__label
                span Услуги
            .services__list
                label.checkbox(for='service-1')
                    input(type='checkbox' id='service-1' name='services' checked)
                    span Сборка кровати - стоимость: 1000
                label.checkbox(for='service-2')
                    input(type='checkbox' id='service-2' name='services')
                    span Сборка ортопедического основания - стоимость: 300
                label.checkbox(for='service-3')
                    input(type='checkbox' id='service-3' name='services')
                    span Утилизация старого матраса - стоимость: 300
        .add__digits.digits
            .digits__field
                .field__label
                    span Доход дилера
                .field__input
                    input(type='text' value='12 567 Р')
            .digits__field
                .field__label
                    span Скидка за счёт дилера
                .field__input
                    input(type='text' value='1 800 Р')
            .digits__field
                .field__label
                    span Сумма
                .field__input
                    input(type='text' value='390 000 Р')
        .add__btn
            a(href='#').button Создать заказ









