extends ../layout/main

block variables
    - var title = 'Личный кабинет'
    - var pageClass = 'lk'

block content

    .message
        .message__icon
        .message__content
            .message__heading
                span Сообщение
            .message__text
                p Сегодня в нашу Систему Электроного Заказа была добавлена Мебель и внесены некоторые изменение в работу формы заказа.
                p Теперь, если Вы выбрали одну позицию и указали в графе кол-во несколько штук, а, затем хотите задать спец. цену этой позиции, нужно указать цену за сумму данных позиций. А так-же при заполнении полей: дом, корпус, строение, владение, квартира и подъезд - указывать только значения, без вспомогательных обозначений.
