// ЦВЕТА
$gray = #d6d6d6

$gray_light = #e0e0e0
$gray_light2 = #fafafa
$gray_light3 = #f7f7f7
$gray_dark = #5c5c5c
$gray_dark2 = #444444

$white = #fff
$black = #000

$blue = #03a7df
$blue_light = #e0f8ff
$green = #8ebf1e

// РАЗМЕРЫ
baseFontSize = 14px


// ШРИФТЫ
mainFont = 'Roboto', sans-serif, Arial