// ЦВЕТА
$gray = #d6d6d6
$gray_light = #e0e0e0
$gray_light2 = #fafafa
$gray_dark = #5c5c5c

$white = #fff
$black = #000

$blue = #03a7df
$green = #8ebf1e

// РАЗМЕРЫ
baseFontSize = 16px


// ШРИФТЫ
mainFont = 'Roboto', sans-serif, Arial