.auth
  background-image: url('../img/general/auth-bg.jpg')

  &__wrapper
    display: flex
    align-items: center
    justify-content: center
    height: 100%

  &__block
    width: 420px
    background-color: $gray_light2
    box-shadow: 0 0 20px 7px rgba(0,0,0,0.1)
    padding: 42px 10px 41px

  &__logo
    text-align: center
    margin-bottom: 21px

  &__avatar
    text-align: center
    margin-bottom: 21px

  &__form
    width: 267px
    margin: 0 auto

  .form

    &__item
      margin-bottom: 10px

      &:last-child
        margin-bottom: 0

      input
        width: 100%

      &_remember
        text-align: center
        margin-top: 24px
        margin-bottom: 24px

      &_submit

        .button
          width: 181px
          margin: 0 auto