.lk

  &__message
    margin-bottom: 28px

  &__sum-date
    display: flex
    justify-content: space-between
    margin-bottom: 26px

    &_3

      .lk

        &__sum
            width: calc(33.3% - 14px)

        &__date
            width: calc(33.3% - 14px)

  &__sum
    width: calc(50% - 10px)
    background-color: $gray_light3
    padding: 24px 10px 16px

    text-align: center
    font-weight: 700

    .sum

      &__heading
        margin-bottom: 5px

        font-size: 20px
        line-height: 20px
        color: $gray_dark2
        text-transform: uppercase
        
      &__value
        color: $red
        font-size: 33px
        line-height: 35px

      &__date
        font-size: 14px
        line-height: 25px
        color: $gray_dark




  &__date
    width: calc(50% - 10px)
    background-color: $green
    padding: 24px 10px 16px

    text-align: center
    color: $white
    font-weight: 700

    .date

      &__date
        font-size: 18px
        line-height: 22px

      &__time
        font-size: 33px
        line-height: 33px

      &__day
        font-size: 14px
        line-height: 25px

  &__select-period
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 26px
    position: relative

    .presets-date
      display: inline-flex
      background-color: $gray_light3
      padding: 29px 20px 27px

    .date

      &:hover

        .date

          &__input
            background-color: $blue
            color: $white

          &__icon
            background-image: url('../img/general/icon-calendar-hover.png')



      &__input
        padding: 7px 0 7px 23px
        margin-left: -17px
        transition: .3s all
        border: none

        text-align: center
        font-family: mainFont
        font-size: 16px
        font-weight: 700
        color: $gray_dark

      &__icon
        display: inline-block
        width: 14px
        height: 14px
        background-image: url('../img/general/icon-calendar.png')
        position: relative
        top: 1px
        left: 13px
        transition: .3s all

    .presets
      margin-right: 34px

      &__list
        display: flex


      &__item
        width: 67px
        margin-right: 2px

        &:last-child
          margin-right: 0


    .popup
      display: none
      position: absolute
      z-index: 1000
      top: 50%
      transform: translateY(-50%)
      left: 0
      right: 0
      box-shadow: 0 0 20px 7px rgba(0,0,0,0.1)
      background-color: $white
      padding: 40px 75px

      &__top
        display: flex
        justify-content: space-between
        margin-bottom: 21px

      &__heading
        font-size: 18px
        line-height: 33px
        font-weight: 700
        color: $gray_dark2
        text-transform: uppercase

      &__close

        a
          display: block
          width: 10px
          height: 10px
          background-image: url('../img/general/icon-order-delete-bold.png')
          background-repeat: no-repeat

      &__period
        margin-bottom: 37px

        .period

          &__list
            display: flex

          &__item
            width: 52px
            margin-right: 6px

            &:last-child
              margin-right: 0

            .radio

              input
                &:checked + span
                  background-color: $blue

              span
                background-color: $gray_light3
                text-transform: none
      &__range
        //margin-bottom: 30px

      &__inputs
        padding-top: 26px
        margin-bottom: 24px
        text-align: center

        input
          width: 87px
          margin: 0 7px
          padding: 14px 0

          text-align: center
          font-family: mainFont
          font-size: 16px
          font-weight: 700
          color: $gray_dark
          border: 1px solid $gray_light !important

      &__btn
        text-align: center



    .refresh

      .button
        width: auto
        background-color: $gray2
        padding: 0 14px
        transition: .3s all


        &:hover
          color: $gray2
          border-color: $gray2
          background-color: $white

          i
            background-image: url('../img/general/icon-refresh-hover.png')


        i
          display: inline-block
          width: 18px
          height: 18px
          background-image: url('../img/general/icon-refresh.png')
          background-repeat: no-repeat
          position: relative
          top: 3px
          margin-right: 13px
  
  &__stat
    background-color: $gray_light3
    padding: 36px 36px 56px
    margin-bottom: 48px

    .stat

      &__heading-toggler
        display: flex
        justify-content: space-between
        margin-bottom: 22px

      &__heading
        font-size: 20px
        line-height: 20px
        color: $gray_dark2
        text-transform: uppercase
        font-weight: 700


      &__toggler
        position: relative
        top: -4px
        left: 5px

        .toggler

          &__list
            display: flex

          &__item
            margin-right: 2px

            &:last-child
              margin-right: 0

            .radio

            span
              display: flex
              align-items: center
              justify-content: center
              width: 34px
              height: 34px

              &_diag

                i
                  display: block
                  background-image: url('../img/general/icon-diag.png')
                  width: 17px
                  height: 17px
                  background-repeat: no-repeat

                input:checked + span i
                  background-image: url('../img/general/icon-diag-active.png')


              &_graph

                i
                  display: block
                  background-image: url('../img/general/icon-graph.png')
                  width: 17px
                  height: 17px
                  background-repeat: no-repeat

                input:checked + span i
                  background-image: url('../img/general/icon-graph-active.png')







      &__table-graph
        display: flex
        justify-content: space-between

      &__table
        display: table
        width: 555px

        .table

          &__th
            display: table-row

          &__tr
            display: table-row

          &__label
            display: table-cell
            padding-bottom: 15px

            font-size: 16px
            font-weight: 700
            text-transform: uppercase

          &__status
            display: table-cell
            width: 321px
            padding-bottom: 13px

            .status

              &__wrap
                display: flex
                align-items: center
                position: relative

                &::after
                  content: ''
                  position: absolute
                  right: 47px
                  top: 10px
                  display: block
                  height: 1px
                  width: 120px
                  background-image: url('../img/general/icon-line.png')


              &__color
                width: 17px
                height: 17px
                border-radius: 50%
                margin-right: 10px

                &_green
                  background-color: $green

                &_blue
                  background-color: $blue

                &_orange
                  background-color: $orange

                &_violet
                  background-color: $violet

                &_red
                  background-color: $red

                &_gray
                  background-color: $gray_dark





              &__name

                color: $gray_dark
                font-size: 16px
                font-weight: 600
                text-transform: uppercase

          &__sum
            display: table-cell

            .sum

              &__wrap
                display: flex
                justify-content: space-between
                position: relative

                &::after
                  content: ''
                  position: absolute
                  right: 77px
                  top: 7px
                  display: block
                  height: 1px
                  width: 40px
                  background-image: url('../img/general/icon-line.png')

              &__value
                font-size: 16px
                font-weight: 700
                color: $gray_dark

              &__percentage
                font-size: 16px
                font-weight: 700
                color: $gray_dark

      &__data
        width: 267px
        text-align: center

        .data

          &__graph
            display: none



  .orders

    &__top
      display: flex
      justify-content: space-between
      margin-bottom: 35px

    &__filter

      .filter

        &__list
          display: flex

        &__item
          width: 112px
          margin-right: 2px

          &:last-child
            margin-right: 0

    &__per-page
      position: relative
      top: -5px

      .nice-select
        width: 118px

    .radio

      input
        &:checked + span
          background-color: $blue

      span
        background-color: $gray_light3



    &__table
      display: table
      width: 100%
      margin-bottom: 48px

      .table

        &__th
          display: table-row

        &__label
          position: relative
          display: table-cell
          vertical-align: middle
          padding: 8px 15px 7px
          border-top: 1px solid $gray_light
          border-bottom: 1px solid $gray_light

          text-transform: uppercase
          font-size: 14px
          font-weight: 800
          color: $gray_dark

          &::after
            content: ''
            display: block
            position: absolute
            top: 6px
            bottom: 6px
            right: 0
            width: 1px
            background-color: $gray_light

          &:first-child
            padding: 8px 6px 6px 7px

          &:last-child

            &::after
              display: none

          &_address
            width: 310px

          &_center
            text-align: center

          i.delete
            background-image: url('../img/general/icon-order-delete-bold.png')



        &__tr
          display: table-row

        &__td
          position: relative
          display: table-cell
          vertical-align: middle
          padding: 13px 9px 11px
          border-bottom: 1px solid $gray_light

          font-size: 14px
          font-weight: 700
          color: $gray_dark

          &::after
            content: ''
            display: block
            position: absolute
            top: 6px
            bottom: 6px
            right: 0
            width: 1px
            background-color: $gray_light

          &:first-child
            padding-left: 7px

          &:last-child
            padding-left: 15px

            &::after
              display: none

          &_center
            text-align: center

          i

            &.delete

              &:hover
                background-image: url('../img/general/icon-order-delete-hover.png')

            &.details

              &:hover
                background-image: url('../img/general/icon-order-details-hover.png')

        &__status
          display: inline-block
          width: 96px
          padding: 5px 0 4px

          &_green
            background-color: $green
            color: $white

          &_blue
            background-color: $blue
            color: $white

          &_red
            background-color: $red
            color: $white
      i

        &.details
          display: block
          width: 13px
          height: 13px
          background-image: url('../img/general/icon-order-details.png')
          background-repeat: no-repeat

        &.delete
          display: block
          width: 10px
          height: 10px
          background-image: url('../img/general/icon-order-delete.png')
          background-repeat: no-repeat

    &__pagination

      .pagination-more
        width: 307px
        margin: 0 auto
        padding-top: 25px
        padding-bottom: 25px
        margin-bottom: 44px

        &::before
          font-size: 50px

        &::after
          font-size: 50px

      .pagination-box

        .pages

          margin: 0 7px

          .active
            color: $blue
            border-bottom: transparent

  &__order-popup
    display: none
    position: fixed
    width: 953px
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    background-color: $white
    padding: 38px 75px

    .order-popup

      &__top
        display: flex
        justify-content: space-between

      &__name
        font-size: 18px
        line-height: 33px
        text-transform: uppercase
        color: $gray_dark
        font-weight: 700


      &__close

        a

          &::after
            content: ''
            display: inline-block
            width: 10px
            height: 10px
            background-image: url('../img/general/icon-order-delete-bold.png')
            background-repeat: no-repeat

          span
            margin-right: 10px

            color: $gray2
            font-size: 14px
            line-height: 33px
            text-transform: uppercase
            font-weight: 700

      &__order-num
        padding-bottom: 21px
        margin-bottom: 20px
        border-bottom: 1px solid $gray_light

        font-size: 16px
        line-height: 22px
        color: $blue
        font-weight: 700

      &__address
        margin-bottom: 20px

        font-size: 14px

        .bold
          margin-left: 8px

          font-size: 16px
          color: $gray_dark
          font-weight: 700

      &__row
        display: flex
        margin-bottom: 17px

        &_digits
          padding-bottom: 21px
          margin-bottom: 20px
          border-bottom: 1px solid $gray_light

          .item

            &__input
              width: 74px

          input
            text-align: center




        .item

          &__label
            margin-bottom: 9px

          &__input
            margin-right: 17px

            input
              width: 100%
              padding: 11px 10px 10px
              border: 1px solid $gray_light !important


              font-family: 'Akrobat', sans-serif
              font-size: 16px
              font-weight: 700
              color: $gray_dark

            &_wide
              width: 557px

            &_quantity
              width: 63px

            &_width
              width: 48px

            &_length
              width: 43px

            &_diameter
              width: 48px

            &_red

              input
                color: $red

        &_block
          flex-wrap: wrap
          margin-bottom: 20px
          border-bottom: 1px solid $gray_light

          .item
            width: 175px
            margin-right: 32px
            margin-bottom: 23px

            &__input
              margin-right: 0

            &:nth-child(4n)
              margin-right: 0

        &_services
          flex-wrap: wrap

          .item
            width: 175px
            margin-right: 32px
            margin-bottom: 23px

            &__input
              margin-right: 0

            &:nth-child(4n)
              margin-right: 0

          & > span
            display: block
            width: 100%
            margin-bottom: 20px

  &__analytics-refresh
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 29px

    .analytics
      display: flex
      color: #6a6a6a

      &__heading
        margin-right: 20px

        font-weight: 700
        font-size: 20px
        text-transform: uppercase

      &__checkbox
        font-size: 16px
        line-height: 29px
        font-weight: 700

        .checkbox
          margin: 0 5px

    .refresh

      .button
        width: auto
        background-color: $gray2
        padding: 0 14px
        transition: .3s all


        &:hover
          color: $gray2
          border-color: $gray2
          background-color: $white

          i
            background-image: url('../img/general/icon-refresh-hover.png')


        i
          display: inline-block
          width: 18px
          height: 18px
          background-image: url('../img/general/icon-refresh.png')
          background-repeat: no-repeat
          position: relative
          top: 3px
          margin-right: 13px


    .checkbox

      span
        display: inline-block
        padding: 0
        width: 30px
        height: 14px
        background-image: url('../img/general/checkbox-bg.png')
        background-repeat: no-repeat

        &::before
          display: none

        &::after
          display: block
          width: 10px
          height: 10px
          left: 3px
          background: url('../img/general/checkbox-dot.png')
          background-repeat: no-repeat

      input:checked + span::after
        left: 17px


  &__select-type
    margin-bottom: 28px

    .type

      &__list
        display: flex

      &__item
        width: 112px
        margin-right: 2px

        &:last-child
          margin-right: 0


        .radio
          input
            &:checked + span
              background-color: $blue

          span
            background-color: $gray_light3


  &__graph
    margin-bottom: 28px
    
  &__legend
    padding: 28px 35px
    margin-bottom: 28px
    background-color: $gray_light3

    .legend

      &__list
        display: flex
        align-items: stretch

      &__item
        width: 199px
        min-height: 167px

        display: flex
        flex-direction: column
        margin-right: 28px
        background-color: $white

        &:last-child
          margin-right: 0

    .line

      &_red

        i
          background-color: $red


      &_green

        i
          background-color: $green


      &_blue

        i
          background-color: $blue


      &_gray

        i
          background-color: $gray_dark


      &__name
        padding: 14px 13px

        i
          display: inline-block
          vertical-align: middle
          width: 17px
          height: 17px
          border-radius: 50%
          margin-right: 7px

        span
          vertical-align: middle

          font-size: 14px
          line-height: 17px
          text-transform: uppercase
          font-weight: 700
          color: $gray_dark2


      &__values
        display: flex
        justify-content: space-between
        padding: 0 13px

        font-size: 14px
        line-height: 17px
        font-weight: 800
        color: $gray_dark2

      &__params
        display: flex
        justify-content: space-between
        padding: 0 13px

        font-size: 14px
        line-height: 17px
        font-weight: 700
        color: $gray_dark

      &__img
        display: flex
        align-items: flex-end
        flex-grow: 1

  &_graph

    .lk__select-period .presets-date
      width: 100%