.new-order

  &__timers
    margin-bottom: 28px

  .timers

    &__list
      display: flex
      justify-content: space-between

    &__item
      display: flex
      justify-content: space-between
      align-items: center
      width: 298px
      padding: 12px 18px

      color: $white
      font-weight: 700

      &_red
        background-color: $red

      &_green
        background-color: $green

      &_blue
        background-color: $blue

  .timer

    &__text
        font-size: 14px

    &__time
      font-size: 33px

    &__date
      font-size: 18px
